<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->

    <div class="collapse navbar-collapse" id="navbarButtonsExample">

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/standing']" [queryParams]="{league: england}" id="englandSelect">England</button>
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/standing']" [queryParams]="{league: spain}" id="spainSelect">Spain</button>
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/standing']" [queryParams]="{league: germany}" id="germanySelect">Germany </button>
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/standing']" [queryParams]="{league: france}" id="franceSelect">France</button>
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/standing']" [queryParams]="{league: italy}" id="italySelect">Italy</button>

      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="container">

  <router-outlet></router-outlet>
</div>
